/* ===== FOOTER ===== */
.footer {
	&__container {
		row-gap: 3rem;
	}
	&__logo {
		display: inline-flex;
		align-items: center;
		column-gap: 0.5rem;
		color: var(--title-color);
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: -1px;
		margin-bottom: var(--mb-2-5);
		transition: 0.3s;
		-webkit-transition: 0.3s;
		-moz-transition: 0.3s;
		-ms-transition: 0.3s;
		-o-transition: 0.3s;

		&:hover {
			color: var(--first-color);
		}

		&-icon {
			font-size: 1.15rem;
			color: var(--first-color);
		}
	}

	&__title {
		font-size: var(--h3-font-size);
		margin-bottom: var(--mb-1-5);
	}
	&__subscribe {
		background-color: var(--first-color-lighten);
		padding: 0.75rem;
		display: flex;
		justify-content: space-between;
		border-radius: 0.5rem;
		-webkit-border-radius: 0.5rem;
		-moz-border-radius: 0.5rem;
		-ms-border-radius: 0.5rem;
		-o-border-radius: 0.5rem;
	}
	&__input {
		width: 70%;
		padding: 0 0.5rem;
		background: none;
		color: var(--text-color);
		border: none;
		outline: none;
	}
	&__button {
		padding: 1rem;
	}
	&__data {
		display: grid;
		row-gap: 0.75rem;
	}
	&__information {
		font-size: var(--small-font-size);
	}
	&__social {
		display: inline-flex;
		column-gap: 0.75rem;

		&-link {
			font-size: 1rem;
			color: var(--text-color);
			transition: 0.3s;
			-webkit-transition: 0.3s;
			-moz-transition: 0.3s;
			-ms-transition: 0.3s;
			-o-transition: 0.3s;

			&:hover {
				transform: translateY(-0.25rem);
				-webkit-transform: translateY(-0.25rem);
				-moz-transform: translateY(-0.25rem);
				-ms-transform: translateY(-0.25rem);
				-o-transform: translateY(-0.25rem);
			}
		}
	}
	&__cards {
		display: inline-flex;
		align-items: center;
		column-gap: 0.5rem;
	}
	&__card {
		width: 35px;
	}
}
