/* ===== GOOGLE FONTS ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
/* ===== VARIABLES CSS ===== */
:root {
  --header-height: 3.5rem;
  /* ===== Colors ===== */
  --hue: 152;
  --first-color: hsl(var(--hue), 24%, 32%);
  --first-color-alt: hsl(var(--hue), 24%, 28%);
  --first-color-light: hsl(var(--hue), 24%, 66%);
  --first-color-lighten: hsl(var(--hue), 24%, 92%);
  --title-color: hsl(var(--hue), 4%, 15%);
  --text-color: hsl(var(--hue), 4%, 35%);
  --text-color-light: hsl(var(--hue), 4%, 55%);
  --body-color: hsl(var(--hue), 0%, 100%);
  --container-color: #fff;
  /* ===== Font and sizes ===== */
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.9rem;
  --small-font-size: 0.8rem;
  --smaller-font-size: 0.7rem;
  /* ===== Font weight ===== */
  --font-medium: 500;
  --font-semi-bold: 600;
  /* ===== Margin Bottom ===== */
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  /* ===== z-index ===== */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* ===== BASE ===== */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  margin: var(--header-height) 0 0 0;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ===== REUSABLE CSS CLASSES ===== */
.section {
  padding: 5.5rem 0 1rem;
}

.section__title, .section__title-center {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  line-height: 140%;
}

.section__title-center, .section__title-center-center {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
}

.main {
  overflow: hidden;
}

.title__accent {
  color: var(--first-color-light);
}

/* ===== HEADER ===== */
.header {
  width: 100%;
  background-color: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

/* ===== NAV ===== */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo, .nav__toggle, .nav__close {
  color: var(--title-color);
}

.nav__logo {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.nav__logo:hover {
  color: var(--first-color);
}

.nav__logo-icon {
  font-size: 1.15rem;
  color: var(--first-color);
}

.nav__toggle {
  display: inline-flex;
  font-size: 1.25rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--container-color);
    width: 80%;
    height: 100%;
    top: 0;
    right: -100%;
    box-shadow: -2px 0 4px hsla(var(--hue), 24%, 15%, 0.1);
    padding: 4rem 0 0 3rem;
    z-index: var(--z-fixed);
    border-radius: 1rem 0 0 1rem;
    -webkit-border-radius: 1rem 0 0 1rem;
    -moz-border-radius: 1rem 0 0 1rem;
    -ms-border-radius: 1rem 0 0 1rem;
    -o-border-radius: 1rem 0 0 1rem;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
  }
}

.nav__close {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 1.25rem;
  cursor: pointer;
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.nav__link {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--first-color);
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change header background */
.scroll-header {
  box-shadow: 0 1px 4px hsla(var(--hue), 4%, 15%, 0.1);
}

/* ===== HOME ===== */
.home {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("../img/background.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  z-index: 0;
}

.home__container {
  row-gap: 2rem;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: var(--big-font-size);
  line-height: 140%;
  margin-bottom: var(--mb-1);
  color: var(--first-color-lighten);
}

.home__description {
  margin-bottom: var(--mb-2-5);
  color: var(--first-color-lighten);
}

.home__social {
  display: flex;
  justify-content: space-between;
}

.home__social-follow {
  font-weight: var(--font-medium);
  font-size: var(--small-font-size);
  color: var(--first-color-lighten);
}

.home__social-links {
  display: inline-flex;
  column-gap: 1rem;
}

.home__social-link {
  font-size: 1rem;
  color: var(--first-color-lighten);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.home__social-link:hover {
  transform: translateY(0.25rem);
  -webkit-transform: translateY(0.25rem);
  -moz-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  -o-transform: translateY(0.25rem);
}

/* ===== BUTTONS ===== */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 1.75rem;
  font-weight: var(--font-medium);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.button:hover .button__icon {
  transform: translateX(0.25rem);
  -webkit-transform: translateX(0.25rem);
  -moz-transform: translateX(0.25rem);
  -ms-transform: translateX(0.25rem);
  -o-transform: translateX(0.25rem);
}

.button:hover {
  background-color: var(--first-color-alt);
}

.button__icon {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.button--flex {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.button--link {
  color: var(--first-color);
  font-weight: var(--font-medium);
}

.button--link:hover .button__icon {
  transform: translateX(0.25rem);
  -webkit-transform: translateX(0.25rem);
  -moz-transform: translateX(0.25rem);
  -ms-transform: translateX(0.25rem);
  -o-transform: translateX(0.25rem);
}

/* ===== SERVICE ===== */
.service__container {
  row-gap: 2rem;
}

.service__img {
  width: 280px;
  justify-self: center;
  box-shadow: -1.5rem -1.5rem var(--first-color);
}

.service__title {
  margin-bottom: var(--mb-1);
}

.service__description {
  margin-bottom: var(--mb-2);
}

.service__details {
  display: grid;
  row-gap: 1rem;
  margin-bottom: var(--mb-2-5);
}

.service__details-description {
  display: inline-flex;
  column-gap: 0.5rem;
  font-size: var(--small-font-size);
}

.service__details-icon {
  font-size: 1rem;
  color: var(--first-color);
  margin-top: 0.15rem;
}

/* ===== STEPS ===== */
.steps__bg {
  background-color: var(--first-color);
  padding: 3rem 2rem 2rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.steps__container {
  gap: 2rem;
  padding-top: 1rem;
}

.steps__title {
  color: #fff;
}

.steps__card {
  background-color: var(--container-color);
  padding: 2.5rem 3rem 2rem 1.5rem;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.steps__card:hover .steps__card-number {
  transform: translateY(-0.25rem);
  -webkit-transform: translateY(-0.25rem);
  -moz-transform: translateY(-0.25rem);
  -ms-transform: translateY(-0.25rem);
  -o-transform: translateY(-0.25rem);
}

.steps__card-number {
  display: inline-block;
  background-color: var(--first-color-alt);
  color: #fff;
  padding: 0.5rem 0.75rem;
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-1-5);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.steps__card-title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-0-5);
}

.steps__card-description {
  font-size: var(--small-font-size);
}

/* ===== PRODUCTS ===== */
.product__description {
  text-align: center;
}

.product__container {
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 3rem;
}

.product__card {
  display: grid;
  position: relative;
}

.product__card:hover .product__img {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
}

.product__img {
  position: relative;
  width: 120px;
  justify-self: center;
  margin-bottom: var(--mb-0-75);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.product__title, .product__price {
  font-size: var(--small-font-size);
  font-weight: var(--font-semi-bold);
  color: var(--title-color);
}

.product__title {
  margin-bottom: 0.25rem;
}

.product__button {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--first-color);
  color: #fff;
  padding: 0.25rem;
  font-size: 1.15rem;
  border-radius: 0.35rem;
  -webkit-border-radius: 0.35rem;
  -moz-border-radius: 0.35rem;
  -ms-border-radius: 0.35rem;
  -o-border-radius: 0.35rem;
}

.product__button:hover {
  background-color: var(--first-color-alt);
}

.product__circle {
  width: 90px;
  height: 90px;
  background-color: var(--first-color-lighten);
  position: absolute;
  top: 18%;
  left: 5%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ===== FAQs ===== */
.faqs {
  background-color: var(--first-color-lighten);
}

.faqs__container {
  gap: 1.5rem;
  padding: 1.5rem 0;
}

.faqs__group {
  display: grid;
  row-gap: 1.5rem;
}

.faqs__item {
  background-color: var(--container-color);
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
}

.faqs__item:hover {
  box-shadow: 0 2px 8px hsla(var(--hue), 4%, 15%, 0.15);
}

.faqs__item-title {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.faqs__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}

.faqs__description {
  font-size: var(--smaller-font-size);
  padding: 0 1.25rem 1.25rem 1.25rem;
}

.faqs__header {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.75rem 0.5rem;
  cursor: pointer;
}

.faqs__content {
  overflow: hidden;
  height: 0;
}

.faqs__item, .faqs__header, .faqs__item-title, .faqs__icon, .faqs__description, .faqs__content {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

.accordion-open .faqs__header,
.accordion-open .faqs__content {
  background-color: var(--first-color);
}

.accordion-open .faqs__item-title,
.accordion-open .faqs__description,
.accordion-open .faqs__icon {
  color: #fff;
}

.accordion-open .faqs__icon {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
